.controls {
 display: block;
 height: 25px;
 width:max-content;
 background-color: rgba(128, 128, 128, 0.429);
 z-index: 5;
 padding: 1%;
 justify-items: center;
}

#download {
    width: 10vw;
}

#scale {
    width: 5vw;
    direction: ltr;
}

.goToPage {
    display: inline-block;
}
